* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  background: rgb(255, 255, 255);
  color: #fff;
  font-family: 'Inter', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background: #000;
  z-index: 2000;
}

a {
  color: #fff;
  text-decoration: none;
}

span {
  color: #55a5d7;
}

li {
  list-style: none;
}

.navbar {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  margin: 0;
}

#noBr {
  border-bottom: none;
}

.nav-branding {
  color: #fff;
  letter-spacing: 1px;
  font-size: 50px;
  font-weight: 700;
  padding: 15px 333px 14px 90px;
}

.nav-link {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  margin-right: 50px;
}

.nav-link:hover {
  color: #85b4ff;
}

.nav-tem {
  padding: 26px 0 26px 0;
}

.navList {
  display: flex;
}

.humburger {
  display: none;
  cursor: pointer;
  margin-right: 48px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.active {
  color: #85b4ff;
}

.borders {
  border-bottom: 2px solid #85b4ff;
  color: #85b4ff;
}

section {
  padding: 0 10% 50px 10%;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(asset/31.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0 0 70px 70px;
}

.one {
  display: inline-block;
  padding: 8px 28px 12px 28px;
  font-weight: 700;
  border-radius: 10px 30px 10px 20px;
  background: rgba(85, 165, 215, 1);
  color: #fff;
  width: 165px;
  height: 70px;
  font-size: 2.8125rem;
  margin-bottom: 70px;
}

.home-text {
  margin-top: 270px;
}

.text-name {
  margin-left: 10px;
  margin-bottom: 40px;
}

.home-text-p {
  color: #fff8f8;
  max-width: 498px;
  margin-bottom: 89px;
  font-size: 35px;
  font-weight: 500;
}

.media-text span {
  font-weight: 500;
  font-size: 45px;
  margin-top: 89px;
  margin-bottom: 35px;
  color: #55a5d7;
}

.home-text h3 {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 40px;
}

.button {
  display: inline;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  background: rgba(85, 165, 215, 1);
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all 0.45s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.about {
  margin: 70px 20px;
  border-radius: 40px 70px 40px 70px;
  padding: 30px 100px 50px 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  background: rgba(0, 0, 0, 0.5);
}