* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  background: rgb(255, 255, 255);
  color: #fff;
  font-family: 'Inter', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background: #000;
  z-index: 2000;
}

a {
  color: #fff;
  text-decoration: none;
}

span {
  color: #55a5d7;
}

li {
  list-style: none;
}

.navbar {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  margin: 0;
}

#noBr {
  border-bottom: none;
}

.nav-branding {
  color: #fff;
  letter-spacing: 1px;
  font-size: 50px;
  font-weight: 700;
  padding: 15px 333px 14px 90px;
}

.nav-link {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  margin-right: 50px;
}

.nav-link:hover {
  color: #85b4ff;
}

.nav-tem {
  padding: 26px 0 26px 0;
}

.navList {
  display: flex;
}

.humburger {
  display: none;
  cursor: pointer;
  margin-right: 48px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.active {
  color: #85b4ff;
}

.borders {
  border-bottom: 2px solid #85b4ff;
  color: #85b4ff;
}